[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 146596580+falseh0ll0w@users.noreply.github.com
	name = 44
[init]
	defaultBranch = master
